:root {
  --base-color: #ffffff;
}
img {
  width: 100%;
  object-fit: cover;
}

#app {
  width: 100%;
  height: 100vh;
  //background: black;
  color: var(--base-color);
  section {
    padding: 120px 150px;
  }
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 30px;
    position: absolute;
    &::before {
      content: "";
      width: calc(100% - 60px);
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 30px;
      background: #ffffff1f;
      padding: 0 30px;
    }
    a {
      color: var(--base-color);
    }
    .cv a {
      text-decoration: none;
      font-size: 18px;
      font-family: "Clash Display", sans-serif;
    }
    .logo-wrapper {
      padding: 16px 0;
      img {
        width: 48px;
        height: 48px;
      }
    }
    .hire a {
      font-size: 16px;
    }
  }
  .main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    .main-text {
      width: 100%;
    }
    .bg-wrapper {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
      }
    }
  }
  #empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    .main-text-container {
      display: grid;
      grid-template-columns: max-content 1fr;
      // give it flow wrap
      grid-auto-flow: row;
      gap: 0 40px;
      h2 {
        font-size: 8rem;
        line-height: 7.75rem;
        font-family: "Clash Display SemiBold", sans-serif;
        &:first-child {
        }
        &:last-child {
          grid-column: span 2;
        }
      }
    }
    .sub-text {
      font-family: Inter, sans-serif;
      font-size: 1rem;
      padding-top: 30px;
      border-top: 1px solid rgba(186, 196, 215, 0.12);
    }
    .arrows-wrapper {
      display: flex;
      align-items: center;
      padding: 30px 60px;
      justify-content: space-between;
      max-width: 700px;
      width: 100%;
      border-radius: 100px;
      position: relative;
      height: max-content;
      align-self: center;
      .arrow {
        width: 28px;
        height: 28px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100px;
        border: 3px solid transparent;
        background: linear-gradient(
            103.01deg,
            #ff3bb6 -4.58%,
            #ecbfbf 36.03%,
            #5c24ff 76.41%,
            #d94fd5 102.23%
          )
          border-box;
        -webkit-mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);

        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }
    &::before {
      content: "";
      width: calc(100% - 60px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 30px;
      border-left: 1px solid #bac4d71f;
      border-right: 1px solid #bac4d71f;
      pointer-events: none;
    }
  }
  .bar {
    position: relative;
    padding: 12px 0;
    width: 100%;
    overflow: hidden;
    .items-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 30px;
      width: max-content;
      span {
        /* Heading/Heading 6/Strong */
        font-family: "Clash Display", sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;

        background: linear-gradient(180deg, #ffb6ff 0%, #b344ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        &:nth-child(odd) {
          font-weight: bold;
        }
      }
      .dot {
        width: 124px;
        height: 12px;
        border: 1px solid #ffffff1f;
        border-radius: 12px;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }
  #counts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .count-block {
      flex-basis: 260px;
      padding-top: 40px;
      border-top: 2px solid #bac4d71f;
      h6 {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-bottom: 12px;
      }
      span {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -4%;
        font-weight: 600;
        color: white;
        &:last-child {
          color: #c4ff00;
        }
      }
    }
  }
  #about {
    padding-top: 0;
    > .title {
      font-size: 124px;
      line-height: 124px;
      letter-spacing: -4%;
      font-weight: 600;
      font-family: "Clash Display Bold", sans-serif;
      margin-bottom: 60px;
      span {
        font-family: inherit;
        background: linear-gradient(
            103.01deg,
            #ff3bff -4.58%,
            #ecbfbf 36.03%,
            #5c24ff 76.41%,
            #d94fd5 102.23%
          ),
          linear-gradient(0deg, #ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
    .content {
      display: flex;
      gap: 30px;
      .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .text-block {
          padding: 48px 0;
          border-top: 1px solid rgba(186, 196, 215, 0.12);
          border-bottom: 1px solid rgba(186, 196, 215, 0.12);
          display: flex;
          flex-direction: column;
          gap: 16px;

          .title {
            display: flex;
            align-items: center;
            gap: 16px;

            h2 {
              font-size: 24px;
              line-height: 28px;
              font-family: "Clash Display", sans-serif;
            }

            span {
              width: 34px;
              height: 12px;
              border-radius: 12px;
              border: 1px solid rgba(0, 255, 255, 1);
            }
          }

          p {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.07em;
          }
        }
      }
      figure {
        width: 457px;
        height: 668px;
        flex-shrink: 0;
        position: sticky;
        top: 125px;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 17px;
          left: 0;
          width: 100%;
          height: 194px;
          background: linear-gradient(
            180deg,
            rgba(3, 4, 5, 0) 0%,
            #030405 100%
          );
          z-index: 3;
        }
      }
    }
    .tags {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      margin-top: 60px;
      .tag {
        padding: 8px 15px;
        border-radius: 26px;
        border: 1px solid rgba(186, 196, 215, 0.12);
        background: rgba(186, 196, 215, 0.12);
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.07em;
        transition: 0.3s ease all;
        cursor: pointer;
        &:hover {
          transform: scale(0.9);
          background: #c4ff00;
          color: #030405;
        }
      }
    }
  }

  #blog {
    padding: 205px 150px;
    border-top: 1px solid rgba(186, 196, 215, 0.12);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        144deg,
        #ff3bff 0%,
        #ecbfbf 38.02%,
        #5c24ff 75.83%,
        #d94fd5 100%
      );
      mix-blend-mode: darken;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        100% 100% at 38.51% 0%,
        rgba(3, 4, 5, 0) 23.91%,
        #080710 95.83%
      );
      z-index: -1;
    }
    h1 {
      font-family: "Clash Display", sans-serif;
      font-size: 64px;
      font-weight: 600;
      line-height: 64px;
      letter-spacing: -0.04em;
    }
    figure {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 360px;
      z-index: -2;
      img {
        position: absolute;
        height: 100%;
      }
    }
  }

  #slogan {
    position: relative;
    overflow: hidden;
    .noise {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
      position: relative;

      h1 {
        font-family:
          Clash Display,
          sans-serif;
        font-size: 7.75rem;
        font-weight: 600;
        line-height: 7.75rem;
        letter-spacing: -0.04em;
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%,
          rgba(255, 255, 255, 0) 100%
        );
        -webkit-background-clip: text;
        color: transparent;
      }
      p {
        padding-top: 30px;
        border-top: 1px solid #bac4d71f;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.07em;
      }
    }
    .l {
      position: absolute;
      top: 0;
      left: -290px;
      margin-right: 1200px;
      width: 768px;
      height: 760px;
      transform: rotateY(180deg);
      background: conic-gradient(
        from 270deg at 50% 50%,
        #fcc1f7 0deg,
        #1a0b54 236.25deg,
        #882ab4 346.8750071525574deg
      );
      mix-blend-mode: color-dodge;
      z-index: 2;
    }
    .r {
      position: absolute;
      top: 0;
      left: -30px;
      margin-left: 284px;
      width: 1154px;
      height: 760px;
      background: conic-gradient(
        from 270deg at 50% 50%,
        #fcc1f7 0deg,
        #1a0b54 236.25deg,
        #882ab4 346.8750071525574deg
      );
      mix-blend-mode: color-dodge;
      z-index: 3;
    }
  }

  @media screen and (max-width: 992px) {
    section {
      padding: 60px 60px;
    }
    #empty {
      .main-text-container {
        h2 {
          font-size: 6rem;
          line-height: 6.75rem;
        }
      }
    }
    #counts {
      flex-direction: column;
      .count-block {
        flex-basis: 100%;
        h6 {
          padding-bottom: 0;
        }
      }
    }
    #about {
      > .title {
        font-size: 92px;
        line-height: 82px;
      }
      .content {
        flex-direction: column;
        figure {
          position: relative;
          width: 100%;
          height: 100%;
          top: 0;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    #empty {
      .main-text-container {
        h2 {
          font-size: 4rem;
          line-height: 4.75rem;
        }
      }
      .arrows-wrapper {
        gap: 30px;
        padding: 20px 30px;
        order: -1;
        grid-column: span 2;
        max-width: 500px;
        .arrow {
          width: 20px;
          height: 20px;
        }
      }
    }
    #slogan {
      .wrapper h1 {
        font-size: 5.75rem;
        line-height: 5.75rem;
      }
      .r {
        left: 130px;
        height: 650px;
        margin-left: 0;
      }
      .l {
        left: -500px;
        height: 650px;
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 480px) {
    #empty {
      .main-text-container {
        h2 {
          font-size: 2rem;
          line-height: 2.75rem;
        }
      }
      .arrows-wrapper {
        padding: 10px 20px;
        margin-bottom: 20px;
        &::before {
          border: 1px solid transparent;
          //border: none;
        }
        .arrow {
          width: 16px;
          height: 16px;
        }
      }
    }
    #about {
      > .title {
        font-size: 64px;
        line-height: 54px;
      }
    }
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}
